body {
  background-color: #333333;
  color: #e4e4e4;
}

html {
}

#myBoard {
 width: 100%; 
 max-width: 500px
}

#title {
  width: 100%;
  max-width: 500px;
}

#instructions {
  width: 100%;
  max-width: 500px
}

#buttons {
  width:100%; 
  max-width: 500px; 
}

#copyToClipboardBtn, #showInstructionsBtn {
  display:none;
}

label {
  color: #B4886B;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  display: block;
  width: 75px;
  float: left;
  overflow: hidden;
  white-space: nowrap;

}

.notation-322f9 {
  font-size:11px;
}

h1,p,li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}