body {
  background-color: #222222;
  overflow: hidden; 
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

#myBoard {
 overflow: hidden;
}

label {
  color: #B4886B;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  display: block;
  width: 75px;
  float: left;
  overflow: hidden;
  white-space: nowrap;

}

div { color:#ffffff; }

.notation-322f9 {
  font-size:11px;
}
