/* Global */
:root {
  --grey-color: #282828;
  --tan-color: #f0d9b5;
  --brown-color: #b58863;
}

html, body {margin: 0; height: 100%; overflow: visible}

body {
  background-color: var(--grey-color);
  color: #eeeeee;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

h1,
p {
  margin-top: 0;
}

ol {
  padding-left: 1.1rem;
}

input {
  padding: 0.8rem 1rem;
}

input:focus {
  outline: none;
}

a {
  color: #cccccc;
}

.no-scroll {
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 32em;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.chessboard-image {
  object-fit: cover;
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 32em;
  box-sizing: border-box;
}

/* Header */
.header__title {
  margin-bottom: 0.5rem;
}

/* Details */
.details {
  margin: 1.5rem 0;
}

.details__row {
  display: flex;
  align-items: baseline;
  margin: 0.5rem 0;
}

.details__title {
  color: #B4886B;
  font-weight: bold;
  text-align: right;
  margin-right: 0.5rem;
  text-transform: uppercase;
  width: 30%;
}

.details__text {
  width: 70%;
}

.notation-322f9 {
  font-size: 11px;
}

/* Buttons */
.buttons {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.button--copy {
  display: none;
}

.button {
  color: var(--grey-color);
  background-color: var(--tan-color);
  border: none;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.25s;
  flex: 1;
  margin: 0 0.25rem;
  width: auto;
}

.button:hover {
  background-color: var(--brown-color);
  transition: background-color 0.25s;
  outline: none;
}

/* Modal */
.modal {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
}

.modal--is-visible {
  visibility: visible;
}

.modal__overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal--is-visible .modal__overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__wrapper {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 92%;
  max-width: 32em;
  background-color: var(--grey-color);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
}

.modal__input {
  width: 70%;
}

.modal__copy-wrapper {
  display: flex;
  width: 100%;
}

.modal__content {
  padding: 1.5rem;
  color: #eeeeee;
}

.modal .details__title {
  width: auto;
}

.modal .details,
.modal .details__row {
  margin-bottom: 0;
}

.modal__close {
  color: #aaaaaa;
  font-size: 1.0em;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 1rem;
  line-height: 0.6em;
  transition: color 0.25s;
}

.modal__close:hover {
  color: #757575;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 1.0rem;
  text-align: center;
  color:#cccccc;
}

@media screen and (min-width: 32em) {
  .details__title {
    width: 24%;
  }

  .details__text {
    width: 76%;
  }
  html, body {overflow: visible}

}
